* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: midnightblue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.score-container, #result {
    margin-bottom: 20px;
}

#score {
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    border-radius: 4px;
}

.grid div {
    display: grid;
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    place-items: center;
}