* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    width: 360px;
    margin: 0 auto;
    background-color: midnightblue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.score-container {
    margin-bottom: 20px;
    text-align: center;
}

#result {
    position: absolute;
    inset: 0;
    display: none;
    place-content: center;
    background-color: rgba(7, 3, 3, 0.8);
    backdrop-filter: blur(3px);
    font-weight: bold;
}

#score {
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 4px;
}

.grid div {
    display: grid;
    place-items: center;
    height: 80px;
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid whitesmoke;
}

button {
    padding: 20px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

@media (min-width: 400px) {
    .buttons {
        display: none;
    }
}

.buttons div {
    display: flex;
    justify-content: center;
}
