* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.score-container, #result {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    background-color: black;
    border-radius: 4px;
    overflow: hidden;
}

.grid div {
    display: grid;
    height: 100px;
    background-color: teal;
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    place-items: center;
}